.bg-whater-full-op {
  background-image: url("/images/backgrounds/whater-full-op.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bg-whater-1 {
  background-image: url("/images/backgrounds/whater-1.jpg");
}

.bg-whater-2 {
  background-image: url("/images/backgrounds/whater-2.jpg");
}
.bg-whater-3 {
  background-image: url("/images/backgrounds/whater-3.jpg");
}
