<div>
  <%= live_component @socket, VideoBannerSW, id: "VideoBannerSW", sperm_info: @sperm_info %>
</div>
<%= live_component @socket, CommonForm, id: "CommonForm", card_type: :simple %>
<section>
  <%= live_component @socket, CardBlock, id: "CardBlock", card_type: :simple,
  items: @items %>
</section>
<%= live_component @socket, LearnMore, id: "LearnMore", card_type: :simple %>
