<section
  style="width: 100%; min-height: 100px"
  class="flex flex-col items-center p-10"
>
  <%= live_component @socket, Title, id: "common_form_title", props: %{ class:
  "mb-10", title: "Общий вид", subtitle: "здесь мы раскроем тайны..." } %>
  <img src="/images/form.png" />
</section>
